
{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
	<meta charset="uft-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	</head>

	<body>
		<p>It is now   {{ current_date }} </p>
		<br />
		

		<div> 
				<p class='user'> Username: {{ username }}</p>
		</div>
		<div>
				<p class='pass'> Pass: {{ password }} </p>
		</div>	

		<div>    <p> <a href='newTemplate.html/'> New template </a></p></div>
		<div>    <p> <a href='base.html/'> base </a></p></div>
	</body>
</html>
